c:\Users\ABHINAV RAJPUT\OneDrive\Documents\Desktop\calculator\index.html c:\Users\ABHINAV RAJPUT\OneDrive\Documents\Desktop\calculator\script.js c:\Users\ABHINAV RAJPUT\OneDrive\Documents\Desktop\calculator\style.css# Auto detect text files and perform LF normalization
* text=auto
